@import url("https://schoolweb.tn.edu.tw/uploads/fonts/woff2.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC|Noto+Serif+TC&display=swap");

.c {
    text-align: center;
    vertical-align: middle !important;
}

.m {
    vertical-align: middle !important;
}

h1.my,
h2.my,
h1>span.my,
h2>span.my {
    padding: 6px;
    /* 離標題邊框距離 */
    text-align: left;
    /* 文字靠左 */
    font-weight: normal;
    /* 不要粗體 */
    font-family: HanWangMingBlack, jf-openhuninn, 'Noto Sans TC', Mamelon;
    /* 字型 */
    background: -webkit-linear-gradient(rgb(89, 112, 134), rgb(33, 51, 51));
    /* 漸層顏色 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

h3.my,
h4.my,
h5.my,
h3>span.my,
h4>span.my,
h5>span.my {
    padding: 6px;
    /* 離標題邊框距離 */
    text-align: left;
    /* 文字靠左 */
    font-weight: normal;
    /* 不要粗體 */
    font-family: jf-openhuninn, 'Noto Sans TC', Mamelon;
    /* 字型 */
    background: -webkit-linear-gradient(rgb(126, 92, 64), rgb(92, 41, 56));
    /* 漸層顏色 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.my-title {
    padding: 6px;
    /* 離標題邊框距離 */
    text-align: left;
    /* 文字靠左 */
    font-weight: normal;
    /* 不要粗體 */
    font-family: jf-openhuninn, 'Noto Sans TC', Mamelon;
    color: #3a322e;
}

.my-border {
    padding: 12px 20px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 8px;
    background: rgb(245, 245, 245);
    /* box-shadow: 0px 0px 6px 1px rgba(37, 37, 37, 0.2); */
    margin: 10px auto;
}

.my-sm-border {
    padding: 6px 10px 8px 10px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
    background: rgb(245, 245, 245);
    margin: 10px auto;
}

ol {
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: 20px;
}

ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 20px;
}

.tooltip-inner {
    max-width: 600px;
    font-size: 0.95em;
    background-color: #830d48;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    line-height: 1.8;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #830d48 !important;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #830d48 !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #830d48 !important;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #830d48 !important;
}

.bar {
    text-align: center;
    margin: 3em auto;
}
/* 縮圖顯示 */
img.cover  {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


ul.nav > li > a {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
}

nav.navbar {
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.5);
}

div.new-article {
    display: block;
    width: 100%;
    position: relative;
    padding: 12px;
    background-color: white;
    margin: 14px auto;
    color: #444;
}

div.new-article:before,
div.new-article:after {
    content: '';
    position: absolute;
    left: 0;
    box-shadow: 0 0 10px black;
    border-radius: 50%;
    width: 100%;
    height: 20px;
    display: none;
}

div.top-shadow:before {
    display: block;
    top: 0px;
    clip: rect(-20px auto 0 auto);
}

div.bottom-shadow:after {
    display: block;
    bottom: 0px;
    clip: rect(20px auto 40px auto);
}



/* article.title */
.latest-post {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 1.5em;
    overflow: hidden;
    color: #fff;
    background: linear-gradient(to right bottom, rgba(238, 238, 238, 0.2), rgba(200, 200, 200, 0.3));
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.latest-post:hover {
    overflow: hidden;
    border-left-color: #dddddd;
    border-right-color: #dddddd;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
    border-top: 100px solid rgba(255, 255, 255, 0.3);
    border-bottom-color: transparent;
}

.latest-post h3,
.latest-post h4 {
    color: #fff !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    margin: 0;
    font-weight: 700;
}

.latest-post {
    opacity: 1;
}

.summary {
    word-break: break-all;
    line-height: 1.5;
    font-size: 1.1em;
    }

img.cover  {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.slide-img {
    width: 100%; 
    object-fit: cover;
}
.carousel-caption{    
    background-color: rgba(0,0,0,0.5); 
}
#carousel-example-generic{
    position:relative;    
    top: -22px;
}
